<!-- <pre>
  {{patients$ | async | json}}
  {{therapies$ | async | json}}
  {{therapists$ | async | json}}
  {{planners$ | async | json}}
</pre> -->

<section>
  <div class="label"></div>
  <div class="button-row">
    <div class="flex-container">
      <div class="button-container">
        <button mat-fab color="primary" aria-label="Icon button with a add icon">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-fab color="primary" aria-label="Icon button with a edit icon">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>

<mat-card class="demo-inline-calendar-card admin-calendar">
  <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected}}</p>

