.button-container {
  margin: 20px 20px 0 20px;
}

.menu {
  .menu-therapy {
    background-color: #757575;
  }
}

.calendar-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;

  .calendar {
    .therapist-calendar {
      margin: 0px 10px
    }
  }

  .calendar,
  .day-info {
    width: calc(50% - 5px);

  }

  .month-info,
  .day-info {
    margin: 0 30px;
  }
}
