<section>
  <div class="button-row">
    <div class="flex-container">
      <div class="button-container">
        <button mat-fab color="primary" aria-label="Icon button with a edit icon">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu" color="primary" aria-label="Icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="menu-therapy">
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span><a routerLink="/therapist-plan">Therapy plan</a></span>
          </button>
          <button mat-menu-item>
            <mat-icon matBadge="13" matBadgeColor="warn">message</mat-icon>
            <span>Messages</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</section>

<div class="calendar-container">
  <div class="calendar">
    <mat-card class="therapist-calendar">
      <mat-calendar (selectedChange)="onSelectedChange($event)" [(selected)]="selected" (monthSelected)="onMonthSelected($event)"></mat-calendar>
    </mat-card>
  </div>
  <div class="month-info">
    <h2>Plan for month:</h2>
    <div class="plan" *ngFor="let plan of monthPlan$ | async">
      <div class="therapist">
        {{plan.therapist}}
      </div>
      <div class="patient">
        {{plan.patient_name}}
      </div>
      <div class="kind_of_therapy">
        {{plan.kind_of_therapy}}
      </div>
      <div class="date">
        {{plan.date_time | date}}
      </div>
      <div class="time">
        {{plan.date_time | date : "shortTime"}}
      </div>
    </div>
  </div>

  <div class="day-info">
    <h2>Plan for day: </h2>
    <div class="plan" *ngFor="let plan of selectedDayPlan$ | async">
      <div class="therapist">
        {{plan.therapist}}
      </div>
      <div class="patient">
        {{plan.patient_name}}
      </div>
      <div class="kind_of_therapy">
        {{plan.kind_of_therapy}}
      </div>
      <div class="date">
        {{plan.date_time | date}}
      </div>
      <div class="time">
        {{plan.date_time | date : 'shortTime'}}
      </div>
    </div>
  </div>
</div>
